<!DOCTYPE html>
<html>

<head lang="zh-cn">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>JCrazy*666 - Csgola - CS:GO战绩</title>
	<link href="/static/css/bootstrap-darkly.css" rel="stylesheet">
	<link href="/static/css/font-awesome.min.css" rel="stylesheet">
	<link href="/static/css/chartist.min.css" rel="stylesheet">
	<link href="/static/css/player.css" rel="stylesheet">
</head>

<body>
	<div class="container profile-sec">
		<div class="row">
			<div class="col-md-2 col-xs-12">
				<img class="avatar center-block img-responsive" src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/28/284fd951882384b11d7d416a1d410ebb4f02edc1_full.jpg" alt="player-avatar">
			</div>
			<div class="col-md-10 col-xs-12" style="padding-left: 30px;">
				<div class="personanowstate pull-right">当前离线</div>
				<div class="personaname">JCrazy*666</div>
				<div class="profile-detail">
					<img class="country-flag" src="http://cdn.steamcommunity.com/public/images/countryflags/cn.gif" alt="cn"> &nbsp;-&nbsp; <span class="realname">孙浩</span> &nbsp;-&nbsp;
					<svg class="profile-steam-icon">
						<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#i-steam"></use>
					</svg>
					<a href="http://steamcommunity.com/id/mist14/" target="_blank">Steam个人资料</a> &nbsp;-&nbsp;
					<i class="fa fa-dropbox"></i><a href="http://www.csgola.com/player/76561198275804672/inventory" target="_blank"> 查看库存</a>
				</div>
				<p></p>
				<div class="row">
					<div class="col-md-3">
						<div class="vac-status vac-normal">VAC作弊封禁状态 <span class="badge normal-status">正常</span></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container stats-sec-1">
		<div class="row">
			<div class="panel panel-default">
				<div class="panel-heading"><i class="fa fa-user"></i> 统计数据</div>
				<div class="panel-body">
					<div class="panel panel-default">
						<div class="panel-body">
							<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
								<div class="row">
									<div class="col-md-2 col-xs-4">
										<svg>
											<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#i-kills"></use>
										</svg>
									</div>
									<div class="col-md-10 col-xs-8 data-sec">
										<div class="title">击杀数</div>
										<div class="datala">14052</div>
									</div>
								</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
								<div class="row">
									<div class="col-md-2 col-xs-4">
										<svg>
											<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#i-headshot"></use>
										</svg>
									</div>
									<div class="col-md-10 col-xs-8 data-sec">
										<div class="title">爆头率</div>
										<div class="datala">22%</div>
									</div>
								</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
								<div class="row">
									<div class="col-md-2 col-xs-4">
										<svg>
											<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#i-user"></use>
										</svg>
									</div>
									<div class="col-md-10 col-xs-8 data-sec">
										<div class="title">K/D</div>
										<div class="datala">1.3</div>
									</div>
								</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
								<div class="row">
									<div class="col-md-2 col-xs-4">
										<svg>
											<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#i-win-cup"></use>
										</svg>
									</div>
									<div class="col-md-10 col-xs-8 data-sec">
										<div class="title">胜率</div>
										<div class="datala">54.4%</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="panel panel-default">
						<div class="panel-body">
							<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
								<div class="row">
									<div class="col-md-2 col-xs-4">
										<svg>
											<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#i-skull"></use>
										</svg>
									</div>
									<div class="col-md-10 col-xs-8 data-sec">
										<div class="title">阵亡数</div>
										<div class="datala">10783</div>
									</div>
								</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
								<div class="row">
									<div class="col-md-2 col-xs-4">
										<svg>
											<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#i-target"></use>
										</svg>
									</div>
									<div class="col-md-10 col-xs-8 data-sec">
										<div class="title">命中率</div>
										<div class="datala">20.9%</div>
									</div>
								</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
								<div class="row">
									<div class="col-md-2 col-xs-4">
										<svg>
											<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#i-weapon"></use>
										</svg>
									</div>
									<div class="col-md-10 col-xs-8 data-sec">
										<div class="title">捐赠武器</div>
										<div class="datala">1497</div>
									</div>
								</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
								<div class="row">
									<div class="col-md-2 col-xs-4">
										<svg>
											<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#i-star"></use>
										</svg>
									</div>
									<div class="col-md-10 col-xs-8 data-sec">
										<div class="title">MVP次数</div>
										<div class="datala">674</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container stats-sec-polar">
		<div class="row">
			<div class="panel panel-default">
				<div class="panel-heading"><i class="fa fa-tachometer"></i> 评分数据</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-md-8">
							<div class="panel panel-default">
								<div class="panel-body">
									<div class="row">
										<div class="col-md-12">
											<div class="polar-detail sec-big text-center">
												<p class="title">综合</p>
												<p class="datala" id="polar_all">2.2</p>
											</div>
										</div>
										<div class="col-md-3 col-xs-6">
											<div class="polar-detail sec-mid text-center">
												<p class="title">K/D</p>
												<p class="datala" id="polar_kd">0.6</p>
											</div>
										</div>
										<div class="col-md-3 col-xs-6">
											<div class="polar-detail sec-mid text-center">
												<p class="title">命中率</p>
												<p class="datala" id="polar_accuracy">2.3</p>
											</div>
										</div>
										<div class="col-md-3 col-xs-6">
											<div class="polar-detail sec-mid text-center">
												<p class="title">爆头率</p>
												<p class="datala" id="ploar_headshot">2.3</p>
											</div>
										</div>
										<div class="col-md-3 col-xs-6">
											<div class="polar-detail sec-mid text-center">
												<p class="title">胜率</p>
												<p class="datala" id="polar_win">3.7</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div id="user-csgo-polar" style="min-width:300px;height:250px"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container stats-sec-2">
		<div class="row stats-sec">
			<div class="panel panel-default">
				<div class="panel-heading"><i class="fa fa-bar-chart"></i> 统计数据</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-md-4">
							<ul class="list-group">
								<li class="list-group-item"><span class="stats-title">击杀</span> <span class="stats-count pull-right">14052</span></li>
								<li class="list-group-item"><span class="stats-title">阵亡</span> <span class="stats-count pull-right">10783</span></li>
								<li class="list-group-item"><span class="stats-title">爆头</span> <span class="stats-count pull-right">3097</span></li>
								<li class="list-group-item"><span class="stats-title">游戏时长</span> <span class="stats-count pull-right">180 小时</span></li>
								<li class="list-group-item"><span class="stats-title">获得金钱</span> <span class="stats-count pull-right">$ 17247200</span></li>
								<li class="list-group-item"><span class="stats-title">造成伤害</span> <span class="stats-count pull-right">1940797 HP</span></li>
								<li class="list-group-item"><span class="stats-title">获得分数</span> <span class="stats-count pull-right">88771 分</span></li>
								<li class="list-group-item"><span class="stats-title">炸弹安置</span> <span class="stats-count pull-right">260</span></li>
								<li class="list-group-item"><span class="stats-title">拆除炸弹</span> <span class="stats-count pull-right">54</span></li>
							</ul>
						</div>
						<div class="col-md-4">
							<ul class="list-group">
								<li class="list-group-item"><span class="stats-title">比赛数</span> <span class="stats-count pull-right">515</span></li>
								<li class="list-group-item"><span class="stats-title">获胜比赛</span> <span class="stats-count pull-right">174</span></li>
								<li class="list-group-item"><span class="stats-title">完成局数</span> <span class="stats-count pull-right">6368</span></li>
								<li class="list-group-item"><span class="stats-title">获胜局数</span> <span class="stats-count pull-right">3462</span></li>
								<li class="list-group-item"><span class="stats-title">开火次数</span> <span class="stats-count pull-right">202283</span></li>
								<li class="list-group-item"><span class="stats-title">命中次数</span> <span class="stats-count pull-right">42217</span></li>
								<li class="list-group-item"><span class="stats-title">命中率</span> <span class="stats-count pull-right">20.9%</span></li>
								<li class="list-group-item"><span class="stats-title">刀杀数</span> <span class="stats-count pull-right">190</span></li>
								<li class="list-group-item"><span class="stats-title">捐赠武器数</span> <span class="stats-count pull-right">1497</span></li>
							</ul>
						</div>
						<div class="col-md-4">
							<ul class="list-group">
								<li class="list-group-item"><span class="stats-title">MVP次数</span> <span class="stats-count pull-right">674</span>
								</li>
								<li class="list-group-item"><span class="stats-title">击杀正在瞄准的狙击手</span> <span class="stats-count pull-right">1212</span>
								</li>
								<li class="list-group-item"><span class="stats-title">手枪局获胜数</span> <span class="stats-count pull-right">281</span></li>
								<li class="list-group-item"><span class="stats-title">电死敌人数</span> <span class="stats-count pull-right">1</span></li>
								<li class="list-group-item"><span class="stats-title">用敌人的武器杀敌数</span> <span class="stats-count pull-right">763</span></li>
								<li class="list-group-item"><span class="stats-title">闪光敌人后杀敌数</span> <span class="stats-count pull-right">230</span></li>
								<li class="list-group-item"><span class="stats-title">破坏玻璃数</span> <span class="stats-count pull-right">81</span></li>
								<li class="list-group-item"><span class="stats-title">人质营救</span> <span class="stats-count pull-right">0</span></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container stats-sec-3">
		<div class="row gun-stats-sec">
			<div class="panel panel-default">
				<div class="panel-heading"><i class="fa fa-gamepad"></i> 武器统计</div>
				<div class="panel-body">
					<div class="table-responsive">
						<table class="table table-bordered">
							<thead>
								<tr>
									<th class="seq">#</th>
									<th>武器</th>
									<th class="total_kills">击杀数</th>
									<th class="accuracy">命中率</th>
									<th class="total_shots">开火次数</th>
									<th class="total_hits">命中次数</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<th class="seq" scope="row">1</th>
									<td>
										<svg class="icon">
											<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#i-ak47"></use>
										</svg>
										<span class="weapon-name">ak47</span> </td>
									<td class="total_kills">2701</td>
									<td class="accuracy">
										<span>19.3%</span>
										<div class="progress progress-sm">
											<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:19.3%;">
											</div>
										</div>
									</td>
									<td class="total_shots">50943</td>
									<td class="total_hits">9842</td>
								</tr>
								<tr>
									<th class="seq" scope="row">2</th>
									<td>
										<svg class="icon">
											<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#i-m4a1"></use>
										</svg>
										<span class="weapon-name">m4a1/m4a4</span> </td>
									<td class="total_kills">2202</td>
									<td class="accuracy">
										<span>21%</span>
										<div class="progress progress-sm">
											<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:21%;">
											</div>
										</div>
									</td>
									<td class="total_shots">45625</td>
									<td class="total_hits">9588</td>
								</tr>
								<tr>
									<th class="seq" scope="row">3</th>
									<td>
										<svg class="icon">
											<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#i-p90"></use>
										</svg>
										<span class="weapon-name">p90</span> </td>
									<td class="total_kills">553</td>
									<td class="accuracy">
										<span>17%</span>
										<div class="progress progress-sm">
											<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:17%;">
											</div>
										</div>
									</td>
									<td class="total_shots">18478</td>
									<td class="total_hits">3150</td>
								</tr>
								<tr>
									<th class="seq" scope="row">4</th>
									<td>
										<svg class="icon">
											<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#i-awp"></use>
										</svg>
										<span class="weapon-name">awp</span> </td>
									<td class="total_kills">5135</td>
									<td class="accuracy">
										<span>46.3%</span>
										<div class="progress progress-sm">
											<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:46.3%;">
											</div>
										</div>
									</td>
									<td class="total_shots">12127</td>
									<td class="total_hits">5620</td>
								</tr>
								<tr>
									<th class="seq" scope="row">5</th>
									<td>
										<svg class="icon">
											<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#i-hkp2000"></use>
										</svg>
										<span class="weapon-name">usp-s/hkp2000</span> </td>
									<td class="total_kills">434</td>
									<td class="accuracy">
										<span>19.5%</span>
										<div class="progress progress-sm">
											<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:19.5%;">
											</div>
										</div>
									</td>
									<td class="total_shots">10415</td>
									<td class="total_hits">2035</td>
								</tr>
								<tr>
									<th class="seq" scope="row">6</th>
									<td>
										<svg class="icon">
											<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#i-glock"></use>
										</svg>
										<span class="weapon-name">glock</span> </td>
									<td class="total_kills">208</td>
									<td class="accuracy">
										<span>13.8%</span>
										<div class="progress progress-sm">
											<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:13.8%;">
											</div>
										</div>
									</td>
									<td class="total_shots">9117</td>
									<td class="total_hits">1257</td>
								</tr>
								<tr>
									<th class="seq" scope="row">7</th>
									<td>
										<svg class="icon">
											<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#i-galilar"></use>
										</svg>
										<span class="weapon-name">galilar</span> </td>
									<td class="total_kills">247</td>
									<td class="accuracy">
										<span>16.5%</span>
										<div class="progress progress-sm">
											<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:16.5%;">
											</div>
										</div>
									</td>
									<td class="total_shots">7292</td>
									<td class="total_hits">1203</td>
								</tr>
								<tr>
									<th class="seq" scope="row">8</th>
									<td>
										<svg class="icon">
											<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#i-p250"></use>
										</svg>
										<span class="weapon-name">p250</span> </td>
									<td class="total_kills">363</td>
									<td class="accuracy">
										<span>21.6%</span>
										<div class="progress progress-sm">
											<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:21.6%;">
											</div>
										</div>
									</td>
									<td class="total_shots">7219</td>
									<td class="total_hits">1556</td>
								</tr>
								<tr>
									<th class="seq" scope="row">9</th>
									<td>
										<svg class="icon">
											<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#i-famas"></use>
										</svg>
										<span class="weapon-name">famas</span> </td>
									<td class="total_kills">252</td>
									<td class="accuracy">
										<span>19.4%</span>
										<div class="progress progress-sm">
											<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:19.4%;">
											</div>
										</div>
									</td>
									<td class="total_shots">6947</td>
									<td class="total_hits">1348</td>
								</tr>
								<tr>
									<th class="seq" scope="row">10</th>
									<td>
										<svg class="icon">
											<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#i-tec9"></use>
										</svg>
										<span class="weapon-name">tec9</span> </td>
									<td class="total_kills">162</td>
									<td class="accuracy">
										<span>16.7%</span>
										<div class="progress progress-sm">
											<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:16.7%;">
											</div>
										</div>
									</td>
									<td class="total_shots">4721</td>
									<td class="total_hits">788</td>
								</tr>
								<tr>
									<th class="seq" scope="row">11</th>
									<td>
										<svg class="icon">
											<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#i-sg556"></use>
										</svg>
										<span class="weapon-name">sg556</span> </td>
									<td class="total_kills">210</td>
									<td class="accuracy">
										<span>19.8%</span>
										<div class="progress progress-sm">
											<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:19.8%;">
											</div>
										</div>
									</td>
									<td class="total_shots">3553</td>
									<td class="total_hits">705</td>
								</tr>
								<tr>
									<th class="seq" scope="row">12</th>
									<td>
										<svg class="icon">
											<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#i-aug"></use>
										</svg>
										<span class="weapon-name">aug</span> </td>
									<td class="total_kills">193</td>
									<td class="accuracy">
										<span>25.5%</span>
										<div class="progress progress-sm">
											<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:25.5%;">
											</div>
										</div>
									</td>
									<td class="total_shots">3030</td>
									<td class="total_hits">774</td>
								</tr>
								<tr>
									<th class="seq" scope="row">13</th>
									<td>
										<svg class="icon">
											<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#i-nova"></use>
										</svg>
										<span class="weapon-name">nova</span> </td>
									<td class="total_kills">78</td>
									<td class="accuracy">
										<span>21.5%</span>
										<div class="progress progress-sm">
											<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:21.5%;">
											</div>
										</div>
									</td>
									<td class="total_shots">2544</td>
									<td class="total_hits">548</td>
								</tr>
								<tr>
									<th class="seq" scope="row">14</th>
									<td>
										<svg class="icon">
											<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#i-ump45"></use>
										</svg>
										<span class="weapon-name">ump45</span> </td>
									<td class="total_kills">74</td>
									<td class="accuracy">
										<span>19.1%</span>
										<div class="progress progress-sm">
											<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:19.1%;">
											</div>
										</div>
									</td>
									<td class="total_shots">2089</td>
									<td class="total_hits">400</td>
								</tr>
								<tr>
									<th class="seq" scope="row">15</th>
									<td>
										<svg class="icon">
											<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#i-negev"></use>
										</svg>
										<span class="weapon-name">negev</span> </td>
									<td class="total_kills">96</td>
									<td class="accuracy">
										<span>14.2%</span>
										<div class="progress progress-sm">
											<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:14.2%;">
											</div>
										</div>
									</td>
									<td class="total_shots">2079</td>
									<td class="total_hits">295</td>
								</tr>
								<tr>
									<th class="seq" scope="row">16</th>
									<td>
										<svg class="icon">
											<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#i-bizon"></use>
										</svg>
										<span class="weapon-name">bizon</span> </td>
									<td class="total_kills">64</td>
									<td class="accuracy">
										<span>19.2%</span>
										<div class="progress progress-sm">
											<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:19.2%;">
											</div>
										</div>
									</td>
									<td class="total_shots">1971</td>
									<td class="total_hits">378</td>
								</tr>
								<tr>
									<th class="seq" scope="row">17</th>
									<td>
										<svg class="icon">
											<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#i-mag7"></use>
										</svg>
										<span class="weapon-name">mag7</span> </td>
									<td class="total_kills">47</td>
									<td class="accuracy">
										<span>22.5%</span>
										<div class="progress progress-sm">
											<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:22.5%;">
											</div>
										</div>
									</td>
									<td class="total_shots">1708</td>
									<td class="total_hits">384</td>
								</tr>
								<tr>
									<th class="seq" scope="row">18</th>
									<td>
										<svg class="icon">
											<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#i-elite"></use>
										</svg>
										<span class="weapon-name">elite</span> </td>
									<td class="total_kills">107</td>
									<td class="accuracy">
										<span>21.8%</span>
										<div class="progress progress-sm">
											<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:21.8%;">
											</div>
										</div>
									</td>
									<td class="total_shots">1673</td>
									<td class="total_hits">364</td>
								</tr>
								<tr>
									<th class="seq" scope="row">19</th>
									<td>
										<svg class="icon">
											<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#i-deagle"></use>
										</svg>
										<span class="weapon-name">deagle/R8</span> </td>
									<td class="total_kills">158</td>
									<td class="accuracy">
										<span>27.9%</span>
										<div class="progress progress-sm">
											<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:27.9%;">
											</div>
										</div>
									</td>
									<td class="total_shots">1379</td>
									<td class="total_hits">385</td>
								</tr>
								<tr>
									<th class="seq" scope="row">20</th>
									<td>
										<svg class="icon">
											<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#i-xm1014"></use>
										</svg>
										<span class="weapon-name">xm1014</span> </td>
									<td class="total_kills">36</td>
									<td class="accuracy">
										<span>17.1%</span>
										<div class="progress progress-sm">
											<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:17.1%;">
											</div>
										</div>
									</td>
									<td class="total_shots">1313</td>
									<td class="total_hits">224</td>
								</tr>
								<tr>
									<th class="seq" scope="row">21</th>
									<td>
										<svg class="icon">
											<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#i-mp7"></use>
										</svg>
										<span class="weapon-name">mp7</span> </td>
									<td class="total_kills">37</td>
									<td class="accuracy">
										<span>21.1%</span>
										<div class="progress progress-sm">
											<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:21.1%;">
											</div>
										</div>
									</td>
									<td class="total_shots">1218</td>
									<td class="total_hits">257</td>
								</tr>
								<tr>
									<th class="seq" scope="row">22</th>
									<td>
										<svg class="icon">
											<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#i-m249"></use>
										</svg>
										<span class="weapon-name">m249</span> </td>
									<td class="total_kills">48</td>
									<td class="accuracy">
										<span>16.8%</span>
										<div class="progress progress-sm">
											<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:16.8%;">
											</div>
										</div>
									</td>
									<td class="total_shots">1175</td>
									<td class="total_hits">197</td>
								</tr>
								<tr>
									<th class="seq" scope="row">23</th>
									<td>
										<svg class="icon">
											<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#i-ssg08"></use>
										</svg>
										<span class="weapon-name">ssg08</span> </td>
									<td class="total_kills">143</td>
									<td class="accuracy">
										<span>33%</span>
										<div class="progress progress-sm">
											<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:33%;">
											</div>
										</div>
									</td>
									<td class="total_shots">1139</td>
									<td class="total_hits">376</td>
								</tr>
								<tr>
									<th class="seq" scope="row">24</th>
									<td>
										<svg class="icon">
											<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#i-fiveseven"></use>
										</svg>
										<span class="weapon-name">fiveseven</span> </td>
									<td class="total_kills">45</td>
									<td class="accuracy">
										<span>19.4%</span>
										<div class="progress progress-sm">
											<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:19.4%;">
											</div>
										</div>
									</td>
									<td class="total_shots">1024</td>
									<td class="total_hits">199</td>
								</tr>
								<tr>
									<th class="seq" scope="row">25</th>
									<td>
										<svg class="icon">
											<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#i-mp9"></use>
										</svg>
										<span class="weapon-name">mp9</span> </td>
									<td class="total_kills">27</td>
									<td class="accuracy">
										<span>17.8%</span>
										<div class="progress progress-sm">
											<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:17.8%;">
											</div>
										</div>
									</td>
									<td class="total_shots">920</td>
									<td class="total_hits">164</td>
								</tr>
								<tr>
									<th class="seq" scope="row">26</th>
									<td>
										<svg class="icon">
											<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#i-scar20"></use>
										</svg>
										<span class="weapon-name">scar20</span> </td>
									<td class="total_kills">131</td>
									<td class="accuracy">
										<span>29.2%</span>
										<div class="progress progress-sm">
											<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:29.2%;">
											</div>
										</div>
									</td>
									<td class="total_shots">819</td>
									<td class="total_hits">239</td>
								</tr>
								<tr>
									<th class="seq" scope="row">27</th>
									<td>
										<svg class="icon">
											<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#i-sawedoff"></use>
										</svg>
										<span class="weapon-name">sawedoff</span> </td>
									<td class="total_kills">19</td>
									<td class="accuracy">
										<span>13.1%</span>
										<div class="progress progress-sm">
											<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:13.1%;">
											</div>
										</div>
									</td>
									<td class="total_shots">704</td>
									<td class="total_hits">92</td>
								</tr>
								<tr>
									<th class="seq" scope="row">28</th>
									<td>
										<svg class="icon">
											<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#i-mac10"></use>
										</svg>
										<span class="weapon-name">mac10</span> </td>
									<td class="total_kills">13</td>
									<td class="accuracy">
										<span>14.5%</span>
										<div class="progress progress-sm">
											<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:14.5%;">
											</div>
										</div>
									</td>
									<td class="total_shots">566</td>
									<td class="total_hits">82</td>
								</tr>
								<tr>
									<th class="seq" scope="row">29</th>
									<td>
										<svg class="icon">
											<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#i-g3sg1"></use>
										</svg>
										<span class="weapon-name">g3sg1</span> </td>
									<td class="total_kills">51</td>
									<td class="accuracy">
										<span>21.5%</span>
										<div class="progress progress-sm">
											<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:21.5%;">
											</div>
										</div>
									</td>
									<td class="total_shots">492</td>
									<td class="total_hits">106</td>
								</tr>
								<tr>
									<th class="seq" scope="row">30</th>
									<td>
										<svg class="icon">
											<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#i-taser"></use>
										</svg>
										<span class="weapon-name">taser</span> </td>
									<td class="total_kills">1</td>
									<td class="accuracy">
										<span>33.3%</span>
										<div class="progress progress-sm">
											<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:33.3%;">
											</div>
										</div>
									</td>
									<td class="total_shots">3</td>
									<td class="total_hits">1203</td>
								</tr>
								<tr>
									<th class="seq" scope="row">31</th>
									<td>
										<svg class="icon">
											<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#i-knife"></use>
										</svg>
										<span class="weapon-name">knife</span> </td>
									<td class="total_kills">190</td>
									<td class="accuracy">
										<span>0%</span>
										<div class="progress progress-sm">
											<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:0%;">
											</div>
										</div>
									</td>
									<td class="total_shots">0</td>
									<td class="total_hits">0</td>
								</tr>
								<tr>
									<th class="seq" scope="row">32</th>
									<td>
										<svg class="icon">
											<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#i-hegrenade"></use>
										</svg>
										<span class="weapon-name">hegrenade</span> </td>
									<td class="total_kills">26</td>
									<td class="accuracy">
										<span>0%</span>
										<div class="progress progress-sm">
											<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:0%;">
											</div>
										</div>
									</td>
									<td class="total_shots">0</td>
									<td class="total_hits">0</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row map-stats-sec">
			<div class="panel panel-default">
				<div class="panel-heading"><i class="fa fa-map"></i> 地图统计</div>
				<div class="panel-body">
					<div class="table-responsive">
						<table class="table table-bordered">
							<thead>
								<tr>
									<th class="seq">#</th>
									<th class="map-col">地图</th>
									<th class="total_rounds_map">回合数</th>
									<th class="total_wins_map">获胜数</th>
									<th class="map_win_rate">胜率</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<th class="seq" scope="row">1</th>
									<td>
										<img class="map-icon" src="/Public/img/csgo_map_icon/de_dust2.png" alt="de_dust2">
										<span class="map-name">de_dust2</span>
									</td>
									<td class="total_rounds_map">2991</td>
									<td class="total_wins_map">1715</td>
									<td class="map_win_rate">
										<span>57.3%</span>
										<div class="progress progress-sm">
											<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 57.3%;">
											</div>
										</div>
									</td>
								</tr>
								<tr>
									<th class="seq" scope="row">2</th>
									<td>
										<img class="map-icon" src="/Public/img/csgo_map_icon/de_inferno.png" alt="de_inferno">
										<span class="map-name">de_inferno</span>
									</td>
									<td class="total_rounds_map">1071</td>
									<td class="total_wins_map">537</td>
									<td class="map_win_rate">
										<span>50.1%</span>
										<div class="progress progress-sm">
											<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 50.1%;">
											</div>
										</div>
									</td>
								</tr>
								<tr>
									<th class="seq" scope="row">3</th>
									<td>
										<img class="map-icon" src="/Public/img/csgo_map_icon/de_train.png" alt="de_train">
										<span class="map-name">de_train</span>
									</td>
									<td class="total_rounds_map">46</td>
									<td class="total_wins_map">23</td>
									<td class="map_win_rate">
										<span>50%</span>
										<div class="progress progress-sm">
											<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 50%;">
											</div>
										</div>
									</td>
								</tr>
								<tr>
									<th class="seq" scope="row">4</th>
									<td>
										<img class="map-icon" src="/Public/img/csgo_map_icon/de_nuke.png" alt="de_nuke">
										<span class="map-name">de_nuke</span>
									</td>
									<td class="total_rounds_map">33</td>
									<td class="total_wins_map">11</td>
									<td class="map_win_rate">
										<span>33.3%</span>
										<div class="progress progress-sm">
											<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 33.3%;">
											</div>
										</div>
									</td>
								</tr>
								<tr>
									<th class="seq" scope="row">5</th>
									<td>
										<img class="map-icon" src="/Public/img/csgo_map_icon/de_cbble.png" alt="de_cbble">
										<span class="map-name">de_cbble</span>
									</td>
									<td class="total_rounds_map">32</td>
									<td class="total_wins_map">15</td>
									<td class="map_win_rate">
										<span>46.9%</span>
										<div class="progress progress-sm">
											<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 46.9%;">
											</div>
										</div>
									</td>
								</tr>
								<tr>
									<th class="seq" scope="row">6</th>
									<td>
										<img class="map-icon" src="/Public/img/csgo_map_icon/de_bank.png" alt="de_bank">
										<span class="map-name">de_bank</span>
									</td>
									<td class="total_rounds_map">10</td>
									<td class="total_wins_map">10</td>
									<td class="map_win_rate">
										<span>100%</span>
										<div class="progress progress-sm">
											<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
											</div>
										</div>
									</td>
								</tr>
								<tr>
									<th class="seq" scope="row">7</th>
									<td>
										<img class="map-icon" src="/Public/img/csgo_map_icon/de_lake.png" alt="de_lake">
										<span class="map-name">de_lake</span>
									</td>
									<td class="total_rounds_map">1</td>
									<td class="total_wins_map">1</td>
									<td class="map_win_rate">
										<span>100%</span>
										<div class="progress progress-sm">
											<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
											</div>
										</div>
									</td>
								</tr>
								<tr>
									<th class="seq" scope="row">8</th>
									<td>
										<img class="map-icon" src="/Public/img/csgo_map_icon/cs_italy.png" alt="cs_italy">
										<span class="map-name">cs_italy</span>
									</td>
									<td class="total_rounds_map">0</td>
									<td class="total_wins_map">0</td>
									<td class="map_win_rate">
										<span>0%</span>
										<div class="progress progress-sm">
											<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
											</div>
										</div>
									</td>
								</tr>
								<tr>
									<th class="seq" scope="row">9</th>
									<td>
										<img class="map-icon" src="/Public/img/csgo_map_icon/de_safehouse.png" alt="de_safehouse">
										<span class="map-name">de_safehouse</span>
									</td>
									<td class="total_rounds_map">0</td>
									<td class="total_wins_map">0</td>
									<td class="map_win_rate">
										<span>0%</span>
										<div class="progress progress-sm">
											<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
											</div>
										</div>
									</td>
								</tr>
								<tr>
									<th class="seq" scope="row">10</th>
									<td>
										<img class="map-icon" src="/Public/img/csgo_map_icon/de_vertigo.png" alt="de_vertigo">
										<span class="map-name">de_vertigo</span>
									</td>
									<td class="total_rounds_map">0</td>
									<td class="total_wins_map">0</td>
									<td class="map_win_rate">
										<span>0%</span>
										<div class="progress progress-sm">
											<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
											</div>
										</div>
									</td>
								</tr>
								<tr>
									<th class="seq" scope="row">11</th>
									<td>
										<img class="map-icon" src="/Public/img/csgo_map_icon/cs_assault.png" alt="cs_assault">
										<span class="map-name">cs_assault</span>
									</td>
									<td class="total_rounds_map">0</td>
									<td class="total_wins_map">0</td>
									<td class="map_win_rate">
										<span>0%</span>
										<div class="progress progress-sm">
											<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
											</div>
										</div>
									</td>
								</tr>
								<tr>
									<th class="seq" scope="row">12</th>
									<td>
										<img class="map-icon" src="/Public/img/csgo_map_icon/cs_militia.png" alt="cs_militia">
										<span class="map-name">cs_militia</span>
									</td>
									<td class="total_rounds_map">0</td>
									<td class="total_wins_map">0</td>
									<td class="map_win_rate">
										<span>0%</span>
										<div class="progress progress-sm">
											<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
											</div>
										</div>
									</td>
								</tr>
								<tr>
									<th class="seq" scope="row">13</th>
									<td>
										<img class="map-icon" src="/Public/img/csgo_map_icon/ar_baggage.png" alt="ar_baggage">
										<span class="map-name">ar_baggage</span>
									</td>
									<td class="total_rounds_map">0</td>
									<td class="total_wins_map">0</td>
									<td class="map_win_rate">
										<span>0%</span>
										<div class="progress progress-sm">
											<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
											</div>
										</div>
									</td>
								</tr>
								<tr>
									<th class="seq" scope="row">14</th>
									<td>
										<img class="map-icon" src="/Public/img/csgo_map_icon/de_dust.png" alt="de_dust">
										<span class="map-name">de_dust</span>
									</td>
									<td class="total_rounds_map">0</td>
									<td class="total_wins_map">0</td>
									<td class="map_win_rate">
										<span>0%</span>
										<div class="progress progress-sm">
											<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
											</div>
										</div>
									</td>
								</tr>
								<tr>
									<th class="seq" scope="row">15</th>
									<td>
										<img class="map-icon" src="/Public/img/csgo_map_icon/cs_office.png" alt="cs_office">
										<span class="map-name">cs_office</span>
									</td>
									<td class="total_rounds_map">0</td>
									<td class="total_wins_map">0</td>
									<td class="map_win_rate">
										<span>0%</span>
										<div class="progress progress-sm">
											<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
											</div>
										</div>
									</td>
								</tr>
								<tr>
									<th class="seq" scope="row">16</th>
									<td>
										<img class="map-icon" src="/Public/img/csgo_map_icon/de_aztec.png" alt="de_aztec">
										<span class="map-name">de_aztec</span>
									</td>
									<td class="total_rounds_map">0</td>
									<td class="total_wins_map">0</td>
									<td class="map_win_rate">
										<span>0%</span>
										<div class="progress progress-sm">
											<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
											</div>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>

	<footer class="footer">
		<div class="container ">
			<div class="row pull-right">
				Copyright &copy; 2016 <a href="http://www.csgola.com">www.Csgola.com</a>, All Rights Reserved <a href="http://steampowered.com/" target="_blank">Powered by Steam</a>
				<script type="text/javascript">
					var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
					document.write(unescape("%3Cspan id='cnzz_stat_icon_1257529055'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s4.cnzz.com/z_stat.php%3Fid%3D1257529055%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));
				</script>
				<script>
					(function(i, s, o, g, r, a, m) {
						i['GoogleAnalyticsObject'] = r;
						i[r] = i[r] || function() {
							(i[r].q = i[r].q || []).push(arguments)
						}, i[r].l = 1 * new Date();
						a = s.createElement(o),
							m = s.getElementsByTagName(o)[0];
						a.async = 1;
						a.src = g;
						m.parentNode.insertBefore(a, m)
					})(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
					ga('create', 'UA-74852326-1', 'auto');
					ga('send', 'pageview');
				</script>
			</div>
		</div>
	</footer>
</body>
<script src="/Public/static/jquery.min.js"></script>
<script src="/Public/static/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/Public/static/chartist/chartist.min.js"></script>
<script src="/Public/static/scrollup/jquery.scrollUp.min.js"></script>
<script src="/Public/static/highcharts/highcharts-polar-area.js"></script>

<script src="/Public/Home/page/js/Player/p.js"></script>

</html>
