<html>
<head lang="zh-cn">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>JCrazy*666 - Csgola - CS:GO战绩</title>
	<link href="/static/css/bootstrap-darkly.css" rel="stylesheet">
	<link href="/static/css/font-awesome.min.css" rel="stylesheet">
	<link href="/static/css/chartist.min.css" rel="stylesheet">
	<link href="/static/css/player.css" rel="stylesheet">
</head>
<body>
    <div class="container profile-sec">
        <div class="row">
            <div class="col-md-2 col-xs-12">
                <img class="avatar center-block img-responsive" src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/28/284fd951882384b11d7d416a1d410ebb4f02edc1_full.jpg" alt="player-avatar">
            </div>
            <div class="col-md-10 col-xs-12" style="padding-left: 30px;">
                <div class="personanowstate pull-right">当前离线</div>
                <div class="personaname">JCrazy*666</div>
                <div class="profile-detail">
                    <img class="country-flag" src="http://cdn.steamcommunity.com/public/images/countryflags/cn.gif" alt="cn"> &nbsp;-&nbsp; <span class="realname">孙浩</span> &nbsp;-&nbsp;
                    <svg class="profile-steam-icon">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#i-steam"></use>
                    </svg>
                    <a href="http://steamcommunity.com/id/mist14/" target="_blank">Steam个人资料</a> &nbsp;-&nbsp;
                    <i class="fa fa-dropbox"></i><a href="http://www.csgola.com/player/76561198275804672/inventory" target="_blank"> 查看库存</a>
                </div>
                <p></p>
                <div class="row">
                    <div class="col-md-3">
                        <div class="vac-status vac-normal">VAC作弊封禁状态 <span class="badge normal-status">正常</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
